<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 d-flex justify-content-center align-items-center pb-4" href="https://littleapple27.dev"><img class="mr-2"
      src="assets/img/icons/lilapplelogo.svg" alt="" width="25" height="25"><span class="pt-2">littleapple27.dev</span></a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-3 col-sm-2 bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item border-bottom">
            <a class="nav-link" [routerLink]="['/portal', {outlets: {'mainView': ['recent']}}]"
              (click)="setTitle( 'Dashboard' )">
              <div class="d-flex flex-column align-items-center text-center">
                <i class="fa fa-home  mb-1"></i>
                Recent Activity
              </div>
            </a>
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link" [routerLink]="['/portal', {outlets: {'mainView': ['users']}}]"
              (click)="setTitle( 'User Accounts' )">
              <div class="d-flex flex-column align-items-center">
                <i class="fa fa-user  mb-1"></i>
                Users
              </div>
            </a>
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link" [routerLink]="['/portal', {outlets: {'mainView': ['articles']}}]"
              (click)="setTitle( 'Articles' )">
              <div class="d-flex flex-column align-items-center">
                <i class="fa fa-newspaper-o  mb-1"></i>
                Articles
              </div>
            </a>
          </li>
          <li class="nav-item border-bottom">
            <a class="nav-link" disabled (click)="setTitle( 'Events' )">
              <div class="d-flex flex-column align-items-center">
                <i class="fa fa-calendar  mb-1"></i>
                Events
              </div>
            </a>
          </li>
        </ul>

      </div>
    </nav>
